<div class="container">
    <div class="col-12">
        <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar nisi sed lorem elementum, nec faucibus arcu venenatis. Duis in nunc eleifend, varius ipsum et, fermentum odio. Mauris sed rutrum mi. Sed in turpis id lacus dignissim fermentum. Aliquam enim massa, venenatis et aliquet id, tempus a est. Sed neque metus, viverra vitae est blandit, tincidunt condimentum ex. Pellentesque posuere tristique lectus, a mollis odio vulputate rutrum. Ut eros purus, porttitor et scelerisque sit amet, dignissim ac augue. Donec rutrum turpis ut porttitor aliquam. Aliquam consectetur rutrum facilisis. Vivamus rutrum risus quam, eget accumsan justo tincidunt a. Sed congue elit quis ex vestibulum fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum eleifend quam lacus, ac pharetra ante fermentum et. Quisque aliquet ullamcorper est id consequat.

        Fusce maximus sapien ac nulla ullamcorper rutrum. Nunc sagittis scelerisque magna ac hendrerit. Sed et quam nec eros blandit viverra in a dui. Cras vehicula pellentesque orci nec placerat. Ut interdum eleifend massa, at gravida lorem porta quis. In scelerisque velit orci, quis fermentum eros accumsan in. Morbi bibendum arcu aliquet urna mollis luctus. Curabitur bibendum neque sed magna molestie auctor.
        </p>
    </div>
    <div class="col-12">
    </div>
</div>
